.THIS .fg-btn-circle_small{
    padding: 18px;
    font-size: 20px;
    height: 0px !important;
    width: 0px !important;
}

.THIS .fg-cart-qty{
    padding-top: 5px;
    font-size: 1rem;
}


.THIS .fg-container{
    min-height: 300px;
    background-color: #f1f1f1;
    
}

.THIS .fg-cart-item-container{
    background-color: white;
    border-radius: 10px;
}