.THIS .fg-footer{
    background-color: #592800;
    text-align: center;
    color: white;
    font-size: 13px;
    padding: 20px;
}

.THIS .fg-footer p{
    margin: 0px;
}

.THIS .fg-social-icon{
    font-size: 40px !important;
    margin-left: 5px;
    margin-right: 5px;
    color: white !important;
    margin-top: 5px;
    
}